
<body>
    <div style="margin-right: 200px;margin-top: 50px;">
        <body >
            <img src="assets/images/sports.jpg" class="card-img-top" alt="...">
       
            <style>
                
      
                h1{
                    font-family: courier New;
                    color:#8a0b0b;
                }
                form{
                    font-family:cursive;
                    line-height: 35px;
                }
                body{
                    background-image:src("");
                    background-size: cover;
                    background-attachment: fixed;
                    color: rgb(40, 165, 144);
                }
                input{
                    width:55%;
                    height: 5%;
                }
        </style>
        <div>
    <h1>Sports shop</h1>
</div>
<div>
    <h2>CONTACT US</h2>
   </div>
     <div>
    <h2>ABOUT US</h2>
</div>
    

    <div>
     
       <h3>"The app is to buy the products with reasonable price and all types of products available"</h3>
    <h3>Our online sports store has all types of sports items and we have fast delivery service within 48 hours of order confirmation  products as well as we have all imported items."</h3>

</div>

     
</body>